.result {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  top: 20vh;
}
.card {
  border: 1px solid #efefef;
  background-color: #fff;
  width: 30%;
  border-radius: 8px;
  box-shadow: 3px 4px 5px #333232;
  padding: 10px 30px;
  max-height: auto;
}
.card-header {
  text-align: center;
  border-bottom: 3px solid #000147;
}

table {
  margin-top: 30px;
}
td,
th {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}

td {
  width: auto;
}
th {
  width: 30%;
}
